.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: -1;
  /* выше установили ограничения для секции */
}

.header__logo {
  display: flex;
  width: 228px;
  height: 32px;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;
}

.header__title {
  display: flex;
  position: absolute;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 102px;
  align-items: center;
  top: 250px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  width: 388px;
  margin-left: 64px;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
}

.header__link-learn-more {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
  color: #2f80ed;
}


.header_main_illistration {
   position: absolute;
   right: 0;
   bottom: 0;
  height: 608px;
  width: 765px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background:#2f80ed;
  z-index: -1;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}
 
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type{
  margin-top: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.subtitle {
  text-align: center;
  margin: 20px 0 0;
  width: 60%;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading {
  height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.table__cell {
  padding: 0;
  margin: 0;
  margin-top: 60px;
  flex-basis: 250px;
  list-style-type: none;
  z-index: 1;
}

.feynman {
    min-height: 890px;
    background-color: #f2f2f2;
    background-image: url(/images/feynman.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom left;
  }


  .feynman__title {
    width: 648px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
  }

  .feynman__subtitle {
    margin: 70px auto 0;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

 

  .feynman__link {
    position: absolute;
    text-decoration: none;
    color:#2f80ed;
    right: 48px;
    top:50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }
  
  .feynman__link:hover {
    opacity: .5;
  }

  .kaufman {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
  }

  .kaufman__triangle {
    position: absolute;
    z-index: 1;
    right: -210px;
    height: 877px;
    width: 877px;
    background-image: url(/images/kaufman-triangle.svg);
    background-size: cover;
    background-position: top 0;
  }



.title_theme_dark {
  color: white;
}
.subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
  margin-bottom: 90px;
}


.table__cell_theme_dark {
  z-index: 1;
  flex-basis: 200px;
  margin: 0;
  margin-top: 80px;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color:#1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
}


.logo_place_footer {
  display: flex;
  width: 228px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}


 
.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}


.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: .5;
}


.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  padding: 0;
  list-style: none;
}


.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}


.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}


.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}




